@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Cormorant&family=Courgette&family=Great+Vibes&family=Inspiration&family=Montserrat&family=Open+Sans:wght@400;500&family=Poppins:wght@400;500;600;700&family=Varela+Round&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h1{
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.accordian{
  width: 70%;
}
.question{
  display: flex;
  justify-content: space-between;
  background-color: rgb(100, 4, 100);
  color: #fff;
  padding: 1rem;
  border-radius: .4rem;
  margin: .2rem 0;
}
.question p{
  font-size: 1.6rem;
  cursor: pointer;
}
.answer{
  font-size: 1rem;
  background-color: #ddd;
  border-radius: .3rem;
  /* text-align: center; */
  padding: .8rem;
}

.answer{
  transition: 4s all;
}


@media screen and (max-width:768px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width:576px){
  html{
    font-size: 12px;
  }
}