@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Cormorant&family=Courgette&family=Great+Vibes&family=Inspiration&family=Montserrat&family=Open+Sans:wght@400;500&family=Poppins:wght@400;500;600;700&family=Varela+Round&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
  font-weight: 500;
}

.body::before{
  content: '';
  background:url('../images/img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  filter: brightness(70%);
  position: absolute;
  top: 0;left: 0;bottom: 0;right: 0;
  z-index: -1;
}
h1{
  text-align: center;
  padding: 2rem;
}
h1 span{
  font-family: 'Great Vibes';
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: .6rem;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.accordian{
  width: 70%;
}
.question{
  display: flex;
  justify-content: space-between;
  background-color: rgba(200, 89, 200, 0.85);
  color: #fff;
  padding: 1rem;
  border-radius: .4rem;
  margin: .2rem 0;
}
.question p{
  font-size: 1.6rem;
  cursor: pointer;
}
.answer{
  font-size: 1rem;
  background-color: #ddd;
  border-radius: .3rem;
  /* text-align: center; */
  padding: .8rem;
}

.answer{
  transition: 4s all;
}


@media screen and (max-width:768px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width:576px){
  html{
    font-size: 12px;
  }
}