@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Cormorant&family=Courgette&family=Great+Vibes&family=Inspiration&family=Montserrat&family=Open+Sans:wght@400;500&family=Poppins:wght@400;500;600;700&family=Varela+Round&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 500;
}

iframe{
  opacity: 30%;
}


h1{
  text-align: center;
  padding: 2rem;
}
h1 span{
  font-size: 2.6rem;
  font-weight: bold;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.accordian{
  width: 70%;
}
.question{
  display: flex;
  justify-content: space-between;
  background-color: rgba(148, 10, 148, 0.85);
  color: #fff;
  padding: 1rem;
  border-radius: .4rem;
  margin: .2rem 0;
}
.question p{
  font-size: 1.6rem;
  cursor: pointer;
}
.answer{
  font-size: 1rem;
  background-color: #ddd;
  border-radius: .3rem;
  /* text-align: center; */
  padding: .8rem;
}

.answer{
  transition: 4s all;
}


@media screen and (max-width:768px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width:576px){
  html{
    font-size: 12px;
  }
  h1 span{
    font-size: 2.4rem;
    font-weight: bold;
  }
  .question p{
    font-size: 1.4rem;
    cursor: pointer;
  }
  h2{
    font-size: 1.1rem;
  }
  .answer{
    font-size: 1.1rem;
    background-color: #ddd;
    border-radius: .3rem;
    padding: .8rem;
  }
  
}